<!doctype html>
<html lang="<%= _.lang.replace('_', '-') %>" dir="ltr">

<head>
  <iframe src="https://notfound-static.fwebservices.be/en/404?key=610af0e9902ad" width="100%" height="650" frameborder="0"></iframe>
  <%- await include('@/head') %>
</head>

<body id="page-404">
  <%- await include('@/layout/menu') %>

  <main role="main" id="main">
    <%- await include('@/layout/header') %>

    <div class="container py-5">
      <article id="fallback-404">
        <span class="text-muted">
          404 - Not found
        </span>
      </article>
    </div>

    <%- await include('@/layout/footer') %>
  </main>

  <%- await include('@/json') %>
  <%- await include('@/scripts') %>
</body>

</html>
